<a
  href="{{url}}"
  class="relative flex h-12 w-12 items-center justify-center text-xs text-white transition-colors md:h-12.5 md:w-12.5
    {{class}}"
>
  <svg class="h-4 w-4" fill="currentColor">
    <use xlink:href="{{root}}assets/img/social-icons.svg#{{icon}}"></use>
  </svg>
</a>
