<span
  class="-mt-1 flex h-[22px] w-[22px] flex-shrink-0 items-center justify-center rounded-full border-2 lg:mt-1
    {{marker-class}}"
>
  <svg role="img" class="h-2 w-2" fill="currentColor">
    <use xlink:href="{{root}}assets/img/str1/sprite.svg#plus-thin"></use>
  </svg>
</span>
