{{! Accordion }}
<div class="accordion flex flex-col gap-y-6 lg:gap-y-8 xl:gap-y-11">

  {{#each data }}
    <div class="accordion__item group {{#if active}}active{{/if}}">
      <div class="accordion__item-trigger relative flex flex-wrap items-center gap-3 lg:gap-4 text-gray-900 dark:text-white lg:text-2xl font-bold cursor-pointer">
        <span class="pr-8 md:pr-0">{{title}}</span>
        <span class="absolute right-0 top-0 w-5 aspect-square border-2 border-gray-650 group-[.active]:border-accent md:relative before:w-2 before:h-0.5 before:absolute before:left-1/2 before:top-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:bg-gray-650 after:w-0.5 after:h-2 after:visible after:absolute after:left-1/2 after:top-1/2 after:-translate-x-1/2 after:-translate-y-1/2 after:bg-gray-650 group-[.active]:after:invisible group-[.active]:before:bg-gray-900 dark:group-[.active]:before:bg-white"></span>
      </div>
      <div class="accordion__item-content hidden group-[.active]:block animate-fade">
        <div class="pt-6 lg:pt-8 xl:pt-10">
          {{desc}}
        </div>
      </div>
    </div>
  {{/each}}

</div>
{{! Accordion / End }}
