<div class="{{widget-class}}">
  <h3 class="mb-4 text-xl font-bold tracking-tight text-primary dark:text-white md:text-2xl lg:mb-8 lg:text-3xl xl:mb-14 xl:text-3.5xl xl:tracking-tighter">{{widget-title}}</h3>
  {{> @partial-block }}
</div>
