<span
  class="-mt-1 flex h-[28px] w-[28px] flex-shrink-0 items-center justify-center rounded-full bg-accent lg:mt-1"
>
  <svg role="img" class="h-[12px] w-[12px] fill-white">
    <use xlink:href="{{root}}assets/img/yt1/sprite.svg#check"></use>
  </svg>
</span>
