{{! Heading Group }}
<hgroup class="flex flex-col-reverse gap-y-2 md:gap-y-3 {{hgroup-class}}">
  <h2
    class="text-2xl font-bold leading-none text-primary dark:text-white md:text-3xl lg:text-4xl lg:tracking-tighter xl:text-5xl"
  >{{title}}</h2>
  <p
    class="leading-tight tracking-tighter text-primary dark:text-white xl:text-2xl"
  >{{subtitle}}</p>
</hgroup>
{{! Heading Group / End }}
