{{! IcoBox }}
<div class="flex flex-col items-center gap-y-6 text-center md:gap-y-8">

  {{! Icon }}
  <div>

    {{#ifequal icon "book"}}
      <svg class="h-12 w-12" viewBox="0 0 48 48">
        <defs>
          <linearGradient id="grad1" x1="0%" y1="0%" x2="50%" y2="100%">
            <stop offset="0%" style="stop-color:#00fff0; stop-opacity:1"></stop>
            <stop
              offset="100%"
              style="stop-color:#1a34f5; stop-opacity:1"
            ></stop>
          </linearGradient>
        </defs>
        <g fill="url(#grad1)">
          <path d="M31 7H13V17H31V7ZM28 14H16V10H28V14Z"></path>
          <path d="M32 26H24V29H32V26Z"></path>
          <path d="M37 32H24V35H37V32Z"></path>
          <path d="M48 26H35V29H48V26Z"></path>
          <path d="M48 20H24V23H48V20Z"></path>
          <path
            d="M9 38V3H35V17H38V0H6C2.687 0 0 2.687 0 6V42H0.101C0.035 42.323 0 42.657 0 43C0 45.762 2.239 48 5 48H38V45C36.896 45 36 44.103 36 43C36 41.896 36.896 41 38 41V38H9ZM6 3V38H5C4.288 38 3.613 38.153 3 38.422V6C3 4.346 4.346 3 6 3ZM5 45C3.897 45 3 44.103 3 43C3 41.896 3.897 41 5 41H33.422C33.153 41.613 33 42.288 33 43C33 43.712 33.153 44.387 33.422 45H5Z"
          ></path>
        </g>
      </svg>

    {{/ifequal}}

    {{#ifequal icon "piggy"}}
      <svg class="h-12 w-12" viewBox="0 0 48 48">
        <defs>
          <linearGradient id="grad1" x1="0%" y1="0%" x2="50%" y2="100%">
            <stop offset="0%" style="stop-color:#00fff0; stop-opacity:1"></stop>
            <stop
              offset="100%"
              style="stop-color:#1a34f5; stop-opacity:1"
            ></stop>
          </linearGradient>
        </defs>
        <g fill="url(#grad1)">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M14 20C15.104 20 16 20.896 16 22C16 23.104 15.104 24 14 24C12.896 24 12 23.104 12 22C12 20.896 12.896 20 14 20Z"
          ></path>
          <path
            d="M35 3C40.514 3 45 7.486 45 13C45 18.514 40.514 23 35 23C29.486 23 25 18.514 25 13C25 7.486 29.486 3 35 3ZM35 0C27.82 0 22 5.82 22 13C22 20.18 27.82 26 35 26C42.18 26 48 20.18 48 13C48 5.82 42.18 0 35 0Z"
          ></path>
          <path
            d="M34.318 18.7971C32.552 18.6171 30.806 17.9871 29.457 17.0151L31.077 14.6201C32.229 15.4311 33.309 15.9161 34.426 16.0971V13.9361C31.528 13.2701 30.051 12.2801 30.051 10.0471V10.0101C30.051 7.88506 31.6 6.40906 34.354 6.21106V5.18506H36.227V6.26506C37.704 6.42706 38.946 6.93206 40.026 7.67006L38.549 10.0831C37.811 9.56006 36.947 9.20006 36.137 9.00206V11.0911C39 11.7571 40.44 12.7831 40.44 15.0161V15.0521C40.44 17.2491 38.748 18.5991 36.191 18.8331V20.5981H34.319L34.318 18.7971ZM34.443 8.84006C33.561 8.91206 33.219 9.27206 33.219 9.74006V9.77606C33.219 10.2441 33.471 10.5141 34.443 10.7841V8.84006ZM37.324 15.2861V15.2501C37.324 14.7641 37.054 14.4941 36.119 14.2241V16.2041C36.947 16.1141 37.324 15.8081 37.324 15.2861Z"
          ></path>
          <path
            d="M44.998 27C44.975 31.4 42.534 35.614 38.285 38.568L37 39.463V41.031V45H31V42.019L27.701 42.349C26.739 42.446 25.937 42.491 25.179 42.491C24.27 42.491 23.339 42.436 22.342 42.323L19 41.945V45H13V40.784V39.254L11.769 38.356C9.572 36.763 7.839 34.788 6.751 32.643L5.921 31H4.079H3V25H3.196H5.348L6.038 22.967C6.887 20.459 8.57 18.121 10.904 16.203L12 15.306V13.888V10.295L15.279 12.26L16.445 12.959L17.739 12.543C18.155 12.409 18.578 12.302 19 12.191V9.093C18.259 9.264 17.53 9.459 16.821 9.687L9 5V13.888C6.286 16.117 4.25 19 3.196 22H2.524C1.13 22 0 23.214 0 24.699V31.31C0 32.796 1.13 34 2.524 34H4.079C5.407 36.617 7 38.929 10 40.784V45.475C10 46.87 11.219 48 12.705 48H19.319C20.805 48 22 46.87 22 45.476V45.304C23 45.421 24.098 45.491 25.174 45.491C26.131 45.491 27.074 45.428 28 45.335V45.477C28 46.87 29.205 48 30.69 48H37.304C38.791 48 40 46.87 40 45.476V41.032C44.981 37.642 47.978 32.621 48 27.001L44.998 27Z"
          ></path>
        </g>
      </svg>
    {{/ifequal}}

    {{#ifequal icon "review-ballon"}}
      <svg class="h-12 w-12" viewBox="0 0 48 46">
        <defs>
          <linearGradient id="grad1" x1="0%" y1="0%" x2="50%" y2="100%">
            <stop offset="0%" style="stop-color:#00fff0; stop-opacity:1"></stop>
            <stop
              offset="100%"
              style="stop-color:#1a34f5; stop-opacity:1"
            ></stop>
          </linearGradient>
        </defs>
        <g fill="url(#grad1)">
          <path
            d="M34 3C35.654 3 37 4.346 37 6V26C37 27.654 35.654 29 34 29H16.992L8 33.26V29.364L5.5 28.942C4.051 28.697 3 27.46 3 26V6C3 4.346 4.346 3 6 3H34ZM34 0H6C2.687 0 0 2.687 0 6V26C0 28.971 2.165 31.421 5 31.899V38L17.667 32H34C37.313 32 40 29.313 40 26V6C40 2.687 37.313 0 34 0Z"
          ></path>
          <path
            d="M43 8.09V11.184C44.161 11.599 45 12.698 45 14V34C45 35.46 43.949 36.697 42.501 36.941L40 37.363V41.259L31.008 37H15V40H30.333L43 46V39.899C45.835 39.42 48 36.97 48 34V14C48 11.028 45.836 8.567 43 8.09Z"
          ></path>
          <path
            d="M19.992 23.5C19.938 23.5 19.835 23.487 19.746 23.399C19.152 22.735 13.433 16.382 12.773 15.721C11.951 14.902 11.5 13.817 11.5 12.662C11.5 11.509 11.951 10.424 12.77 9.608C13.523 8.856 14.426 8.506 15.613 8.506C16.462 8.506 17.647 9.211 18.948 10.49L20.017 11.541L21.069 10.473C22.268 9.256 23.523 8.5 24.347 8.5C25.472 8.5 26.361 8.886 27.229 9.753C28.049 10.569 28.5 11.654 28.5 12.808C28.5 13.963 28.049 15.048 27.229 15.865L20.196 23.442C20.154 23.482 20.058 23.5 19.992 23.5Z"
          ></path>
          <path
            d="M24.352 10C24.954 10.001 25.493 10.141 26.171 10.816C26.705 11.349 27 12.056 27 12.809C27 13.556 26.71 14.26 26.182 14.791C26.105 14.868 25.95 15.035 25.091 15.96L20.428 20.984L20.005 21.441C18.114 19.343 14.387 15.215 13.829 14.656C13.295 14.123 13 13.415 13 12.663C13 11.911 13.294 11.204 13.832 10.668C14.303 10.198 14.819 10.006 15.613 10.006C15.62 10.006 16.363 10.052 17.896 11.56L20.034 13.662L22.138 11.526C23.23 10.416 24.099 10.02 24.352 10ZM24.347 7C22.872 7 21.228 8.174 20 9.421C18.732 8.174 17.139 7.006 15.613 7.006C14.122 7.006 12.806 7.452 11.712 8.546C9.43 10.819 9.43 14.507 11.712 16.781C12.363 17.433 18.688 24.461 18.688 24.461C19.048 24.82 19.521 25 19.992 25C20.465 25 20.936 24.82 21.297 24.461L27.29 18C27.29 18 28.27 16.943 28.288 16.927C30.57 14.653 30.57 10.964 28.288 8.691C27.155 7.561 25.89 7 24.347 7Z"
          ></path>
        </g>
      </svg>

    {{/ifequal}}

  </div>
  {{! Icon / End }}

  {{! Title }}
  <h3
    class="text-xl font-bold text-primary dark:text-white md:text-2xl lg:mb-3 lg:text-3.5xl lg:leading-none lg:tracking-tight"
  >{{{title}}}</h3>
  {{! Title / End }}

  {{! Description }}
  <div class="lg:text-lg lg:leading-8 lg:tracking-tighter">
    {{desc}}
  </div>
  {{! Description / End }}
</div>
{{! IcoBox / End }}
