{{#> _yt1-account-main panel-title="Personal Info"}}

  {{! Personal Info - Form }}
  <form
    class="grid grid-cols-6 gap-x-7 gap-y-7 md:gap-x-7 lg:gap-x-[30px]"
    action="#"
  >
    <fieldset
      class="col-span-full flex flex-wrap justify-between gap-6 pt-2 pb-3"
    >
      <div class="flex gap-x-4 lg:gap-x-7">
        <figure>
          <img
            src="{{root}}assets/img/yt1/samples/user-4-100x100.jpg"
            alt="James Spiegel"
          />
        </figure>
        <div class="flex-1">
          <h5
            class="mb-1 font-bold leading-tight text-primary dark:text-white md:text-lg md:leading-tight"
          >Your Profile Photo</h5>
          <div class="text-sm">100x100 minimum resolution</div>
        </div>
      </div>
      <label
        class="inline-flex basis-full items-center justify-center self-start bg-primary py-4 px-6 text-center text-sm font-bold leading-tight text-white transition-colors hover:cursor-pointer hover:bg-accent sm:basis-auto md:px-7 lg:py-4 lg:px-12 lg:text-sm lg:leading-none lg:text-white"
        for="user-profile-img"
      >
        Browse...
        <input
          class="hidden"
          type="file"
          name="user-profile-img"
          id="user-profile-img"
        />
      </label>
    </fieldset>
    <div class="col-span-full md:col-span-3">
      {{> _yt1-form-input type="text" name="user-first-name" id="user-first-name" placeholder="First Name" }}
    </div>
    <div class="col-span-full md:col-span-3">
      {{> _yt1-form-input type="text" name="user-last-name" id="user-last-name" placeholder="Last Name" }}
    </div>
    <div class="col-span-full md:col-span-3">
      {{> _yt1-form-input type="email" name="user-email" id="user-email" placeholder="Email" }}
    </div>
    <div class="col-span-full md:col-span-3">
      {{> _yt1-form-input type="text" name="user-nickname" id="user-nickname" placeholder="Username (optional)" }}
    </div>
    <div class="col-span-full md:col-span-3">
      {{> _yt1-form-input type="password" name="user-change-password" id="user-change-password" placeholder="Change Password" }}
    </div>
    <div class="col-span-full md:col-span-3">
      {{> _yt1-form-input type="password" name="user-repeat-password" id="user-repeat-password" placeholder="Repeat Password" }}
    </div>
    <div class="col-span-full pt-8">
      <input
        class="block w-full bg-accent py-5 text-lg font-bold leading-normal tracking-tight text-white transition-colors hover:cursor-pointer hover:bg-accent/90"
        type="submit"
        value="Save Changes"
      />
    </div>
  </form>
  {{! Personal Info - Form / End }}

{{/_yt1-account-main}}
