{{#> _yt1-account-main panel-title="Dashboard"}}

  {{! Dashboard Info }}
  <div class="lg:leading-loose bg-white dark:bg-gray-800 shadow-3xl p-8 md:p-10 lg:p-14 xl:p-[60px] [&>p]:mb-6 [&>p:last-child]:mb-0 [&_a]:text-accent hover:[&_a]:text-primary [&_a]:transition-colors dark:hover:[&_a]:text-white">
    <p>Hello <strong class="font-bold">James Spiegel</strong> (not <strong class="font-bold">James Spiegel</strong>? <a href="_yt1-login.html">Log out</a>)</p>
    <p>From your account dashboard you can view your <a href="_yt1-account-order.html">recent orders</a>, manage your <a href="_yt1-account-shipping.html">shipping</a> and <a href="_yt1-account-billing.html">billing</a> addresses, and <a href="_yt1-account-info.html">edit your password and account details</a>.</p>
  </div>
  {{! Dashboard Info / End }}

{{/_yt1-account-main}}
