{{! Logo }}
<div>
  <a href="_yt2-index.html">
    <div
      class="relative inline-flex aspect-square w-11 items-center justify-center overflow-hidden rounded-full bg-accent lg:w-[50px]"
    >
      <svg
        class="relative aspect-[37/36] w-6 fill-white lg:w-[26px]"
        viewBox="0 0 37 36"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M17 16L15 29.001L27 10.001H21L27.363 0H37L25 36H13L0 0H13L11 16H17Z"
        ></path>
      </svg>
    </div>
  </a>
</div>
{{! Logo / End }}
