{{! Footer }}
<footer class="bg-gray-900 py-10 text-sm leading-6 text-gray-300 lg:py-16">
  <div class="container">
    <div
      class="flex flex-col items-center justify-between text-center md:flex-row md:text-left"
    >
      <div>Developed and designed by
        <a
          class="whitespace-nowrap text-white transition-colors hover:text-primary"
          href="https://dan-fisher.dev/"
          target="_blank"
        >Dan Fisher</a>
        &amp;
        <a
          class="whitespace-nowrap text-white transition-colors hover:text-primary"
          href="https://odindesignthemes.com/"
          target="_blank"
        >Odin_Design</a>
      </div>
      <div>
        Copyright &copy; 2023, Dan Fisher. All Rights Reserved
      </div>
    </div>
  </div>
</footer>
{{! Footer / End }}
