---
page-title: "Account"
layout: "str1"
breadcrumbs: [
  {
    label: "Account",
    link: "_str1-account"
  },
  {
    label: "Shipping Details"
  }
]
---

{{#> _str1-content }}

  {{> _str1-account-nav nav=../str1.account }}

  {{! Shipping Details - Form }}
  <form
    class="grid grid-cols-12 gap-y-7 gap-x-5 md:gap-x-6 lg:gap-x-7.5"
    action="#"
  >
    <div class="col-span-full md:col-span-4">
      {{> _str1-form-input
        type="text"
        name="shipping-first-name"
        id="shipping-first-name"
        label="First Name"
        required="true"
      }}
    </div>
    <div class="col-span-full md:col-span-4">
      {{> _str1-form-input
        type="text"
        name="shipping-last-name"
        id="shipping-last-name"
        label="Last Name"
        required="true"
      }}
    </div>
    <div class="col-span-full md:col-span-4">
      {{> _str1-form-input
        type="email"
        name="shipping-email"
        id="shipping-email"
        label="Email Address"
        required="true"
      }}
    </div>
    <div class="col-span-full md:col-span-4">
      {{> _str1-form-input
        type="tel"
        name="shipping-phone"
        id="shipping-phone"
        label="Phone Number"
      }}
    </div>
    <div class="col-span-full md:col-span-8">
      {{> _str1-form-input
        type="text"
        name="shipping-address-1"
        id="shipping-address-1"
        label="Full Address"
        required="true"
        input-class="mb-3"
      }}
    </div>
    <div class="col-span-full md:col-span-4">
      {{#> _str1-form-select
        name="shipping-country"
        id="shipping-country"
        label="Select Country"
        required="true"
      }}
        <option value="0">United States</option>
        <option value="1">Italy</option>
        <option value="2">Spain</option>
        <option value="3">Germany</option>
      {{/_str1-form-select}}
    </div>
    <div class="col-span-full md:col-span-3">
      {{#> _str1-form-select
        name="shipping-state"
        id="shipping-state"
        label="Select State"
        required="true"
      }}
        <option value="0">California</option>
        <option value="1">Texas</option>
        <option value="2">Florida</option>
        <option value="3">Alaska</option>
      {{/_str1-form-select}}
    </div>
    <div class="col-span-full md:col-span-3">
      {{#> _str1-form-select
        name="shipping-city"
        id="shipping-city"
        label="Select City"
        required="true"
      }}
        <option value="0">New York</option>
        <option value="1">Texas</option>
        <option value="2">Florida</option>
        <option value="3">Alaska</option>
        <option value="4">California</option>
      {{/_str1-form-select}}
    </div>
    <div class="col-span-full md:col-span-2">
      {{> _str1-form-input
        type="number"
        name="shipping-zip"
        id="shipping-zip"
        label="ZIP Code"
        required="true"
      }}
    </div>
    <div class="col-span-full lg:col-start-10 lg:col-span-3 pt-2">
      {{#> _str1-btn
        is-btn="true"
        variant="accent"
        size="md"
        type="submit"
        class="w-full"
      }}
        Save Address
      {{/_str1-btn}}
    </div>
  </form>
  {{! Shipping Details - Form / End }}

{{/_str1-content}}
