---
page-title: "Home"
layout: "str2"
no-page-heading: true
---

{{> _str2-hero-unit }}

<div class="pt-10 pb-14 lg:pt-16 lg:pb-20 xl:pt-20 xl:pb-24">

  {{> _str2-section-sponsors }}

  {{> _str2-section-about-me }}

  {{> _str2-section-gear }}

  {{> _str2-section-twitter-feed }}

</div>
