---
page-title: "Single Product"
layout: "yt1"
breadcrumbs: [
  {
    label: "Shop",
    link: "_yt1-shop-grid-3.html"
  },
  {
    label: "Single Product"
  }
]
---

<div class="pt-14 pb-24 lg:pb-52 lg:pt-40">
  <div class="container">
    {{> _yt1-single-product }}
  </div>
</div>
