---
page-title: "Single Post V1"
layout: "yt1"
header-layout: "header-2"
header-wrapper-class: "md:pb-[330px]"
---

<section class="pb-24 lg:pb-[220px] md:-mt-[210px]">
  <div class="container">
    {{> _yt1-post-1 }}
  </div>
</section>
