---
page-title: "Checkout"
layout: "yt1"
breadcrumbs: [
  {
    label: "Shop",
    url: "_yt1-shop"
  },
  {
    label: "Checkout"
  }
]
---

<div class="pt-14 pb-24 lg:pb-52 lg:pt-40">
  <div class="container">
    {{> _yt1-checkout }}
  </div>
</div>
