---
page-title: "News List"
layout: "yt1"
breadcrumbs: [
  {
    label: "News List"
  }
]
blog-layout: "list"
---

<section class="pt-14 pb-24 lg:pb-52 lg:pt-40">
  <div class="container">
    {{> _yt1-blog-list }}
  </div>
</section>
