---
page-title: "Videos"
layout: "yt2"
breadcrumbs: [
  {
    label: "Videos"
  }
]
---

<section class="pt-12 pb-20 lg:pb-52 lg:pt-24">
  <div class="container">
    {{> _yt2-videos
      videos-layout="grid-3"
      videos-limit="15"
      thumb-size="lg"
    }}
  </div>
</section>
