---
page-title: "Shop"
layout: "yt2"
breadcrumbs: [
  {
    label: "Shop Grid - 3 cols"
  }
]
---

<section class="pt-12 pb-20 lg:pb-52 lg:pt-24">
  <div class="container">
    {{> _yt2-shop-3-cols }}
  </div>
</section>
