{{! Hero Slider Wrapper }}
<div class="w-full max-w-[1320px] mx-auto min-w-[1500px]:px-[90px]">
  <div class="h-[420px] md:h-[460px] lg:h-[660px] relative z-10">

    {{! Hero Slider }}
    <div class="swiper js-vv-hero-swiper h-full w-full">

      {{! Slider required wrapper }}
      <div class="swiper-wrapper vv-hero-swiper-wrapper">

        {{> _str1-hero-slide-1 }}

        {{> _str1-hero-slide-2 }}

        {{> _str1-hero-slide-3 }}

      </div>
      {{! Slider required wrapper / End }}

    </div>
    {{! Hero Slider / End }}

    {{! Pagination }}
    <div
      class="vv-hero-swiper-pagination js-vv-hero-swiper-pagination absolute !right-2 sm:!right-4 xl:!-right-16 top-1/2 !left-auto -translate-y-1/2 !bottom-auto z-20 flex !w-[34px] flex-col items-end gap-0.5"
    ></div>
    {{! Pagination / End }}

    {{! Prev/Next }}
    <div class="flex xl:flex-col absolute z-10 right-0 xl:-right-16 bottom-0 justify-center gap-y-4">
      <button
        class="js-vv-hero-swiper-btn-prev flex w-8 aspect-square items-center justify-center text-white hover:cursor-pointer hover:text-accent xl:rotate-90 bg-gray-900 xl:bg-transparent"
      >
        <svg class="h-2.5 w-1.5" fill="currentColor">
          <use xlink:href="{{root}}assets/img/str1/sprite.svg#arrow-left-pixel-alt"></use>
        </svg>
      </button>
      <button
        class="js-vv-hero-swiper-btn-next flex w-8 aspect-square items-center justify-center text-white hover:cursor-pointer hover:text-accent xl:rotate-90 bg-gray-900 xl:bg-transparent"
      >
        <svg class="h-2.5 w-1.5" fill="currentColor">
          <use xlink:href="{{root}}assets/img/str1/sprite.svg#arrow-right-pixel-alt"></use>
        </svg>
      </button>
    </div>
    {{! Prev/Next / End }}
  </div>
  {{! Hero Slider Wrapper / End }}
</div>
