{{! Page Heading }}
<div class="page-heading pt-8 sm:pt-10 md:pt-16 lg:pt-20 xl:pt-24">
  <div class="container">

    <div class="flex flex-col items-center">
      {{! Page Subtitle }}
      <div
        class="font-medium uppercase leading-none tracking-tight text-primary xl:text-1.5xl"
      >
        {{page-subtitle}}
      </div>
      {{! Page Subtitle / End }}

      {{! Page Title }}
      <h1
        class="relative text-3xl font-bold uppercase leading-none tracking-tighter text-gray-900 before:text-primary before:content-['.'] dark:text-white sm:text-4xl md:text-5xl lg:text-6xl xl:text-6.5xl"
      >
        {{page-title}}
      </h1>
      {{! Page Title / End }}
    </div>

  </div>
</div>
{{! Page Heading / End }}
