<div class="header-wrapper text-white">
  {{! Site Header }}
  <header id="site-header" class="text-white">
    <div class="mx-auto max-w-[1440px] px-5">
      {{> _str2-header-nav }}
    </div>
  </header>
  {{! Site Header / End }}

  {{! Page Heading }}
  {{#unless no-page-heading }}
    {{> _str2-page-heading }}
  {{/unless}}
  {{! Page Heading / End }}
</div>
