<footer id="site-footer" class="dark">
  <div class="bg-gray-100 dark:bg-gray-900 py-24 pt-44 leading-8">
    <div class="container">
      <div class="grid grid-cols-12 gap-y-12 gap-x-7">
        <div class="col-span-full md:col-span-4 lg:col-span-3">

          {{> _yt1-widget-info }}

        </div>

        <div class="col-span-full md:col-span-4 md:col-start-5">

          {{> _yt1-widget-links }}

        </div>

        <div class="col-span-full md:col-span-4 md:col-start-9">

          {{> _yt1-widget-subs-count }}

        </div>
      </div>
    </div>
  </div>
</footer>
