<div class="header-wrapper bg-accent text-white relative z-30">
  {{! Site Header }}
  <header id="site-header" class="text-white absolute inset-x-0 z-20">
    <div class="container">
      {{> _yt1-header-nav }}
    </div>
  </header>
  {{! Site Header / End }}

  {{! Hero Slider }}
  {{> _yt1-hero-slider }}
  {{! Hero Slider / End }}
</div>
