<div class="header-wrapper bg-accent text-white">
  {{! Site Header }}
  <header id="site-header" class="bg-accent text-white">
    <div class="container">
      {{> _yt1-header-nav }}
    </div>
  </header>
  {{! Site Header / End }}

  {{! Page Heading }}
  {{#if breadcrumbs}}
    {{> _yt1-page-heading }}
  {{/if}}
  {{! Page Heading / End }}
</div>
