{{#unless hide-page-title}}
  <div class="page-heading pt-7 pb-3 md:pt-5 md:pb-10">
    <div class="container">
      <h1
        class="relative mb-3 text-3.5xl font-bold leading-tight tracking-tight sm:text-4xl md:text-6xl lg:text-[64px]"
      >{{page-title}}</h1>

      {{> _yt2-breadcrumbs breadcrumbs=breadcrumbs}}
    </div>
  </div>
{{/unless}}
