<!-- Header Controls -->
<div class="flex ml-auto -mr-3">

  {{> _str1-header-switcher }}

  {{> _str1-header-cart }}

  {{> _str1-header-account }}

  {{> _str1-header-menu-toggle }}

</div>
<!-- Header Controls / End -->
