<nav
  class="flex min-h-[64px] items-center gap-x-6 lg:gap-x-11 py-1 lg:min-h-[90px] lg:py-4"
>
  {{> _str1-header-logo }}

  {{> _str1-header-nav-desktop items=str1.header.nav }}

  {{> _str1-header-controls }}

</nav>
