<!-- Header Controls -->
<div class="flex ml-auto items-center">

  {{> _str2-header-cta }}

  {{> _str2-header-switcher }}

  {{> _str2-header-account }}

  {{> _str2-header-cart }}

  {{> _str2-header-menu-toggle }}

</div>
<!-- Header Controls / End -->
