<ul
  class="sub-menu invisible absolute right-full z-20 -mr-9 flex w-40 origin-top-right flex-col bg-white dark:bg-gray-700 py-3 text-sm font-bold opacity-0 shadow-2xl transition-all
    {{class}}"
>
  {{#each subitems}}
    <li class="px-5.5">
      <a
        class="flex flex-row-reverse items-center justify-between py-1.5 {{#ifpage url}} text-accent {{/ifpage}} {{#unlesspage url}} text-gray-900 dark:text-white transition-colors hover:text-accent dark:hover:text-accent {{/unlesspage}}"
        href="{{url}}.html"
      >
        {{title}}
      </a>
    </li>
  {{/each}}
</ul>
