<!-- Logo -->
<div>
  <a href="_yt1-index.html">
    <svg
      width="101"
      height="22"
      viewBox="0 0 201 43"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        class="fill-white"
        d="M39.973 37.641C37.407 34.868 36.124 31.315 36.124 26.981C36.124 22.647 37.406 19.085 39.973 16.294C42.537 13.504 45.666 12.108 49.359 12.108C53.052 12.108 55.885 13.478 57.861 16.216V12.42H66.754V41.436H57.86V37.225C55.711 40.276 52.834 41.801 49.228 41.801C45.622 41.801 42.537 40.414 39.973 37.641ZM55.937 32.232C57.219 30.984 57.861 29.214 57.861 26.927C57.861 24.64 57.219 22.88 55.937 21.649C54.654 20.419 53.181 19.803 51.517 19.803C49.853 19.803 48.379 20.427 47.097 21.675C45.814 22.924 45.173 24.691 45.173 26.98C45.173 29.267 45.814 31.027 47.097 32.257C48.379 33.487 49.853 34.103 51.517 34.103C53.181 34.103 54.653 33.48 55.937 32.232Z"
      ></path>
      <path
        class="fill-white"
        d="M71.433 41.436V2.956H80.325V41.436H71.433Z"
      ></path>
      <path
        class="fill-white"
        d="M93.896 41.436H85.004V2.956H93.896V24.536L102.892 12.42H114.852L102.425 27.24L114.853 41.435H103.049L93.896 29.84V41.436Z"
      ></path>
      <path
        class="fill-white"
        d="M123.952 9.144C122.946 10.15 121.717 10.652 120.261 10.652C118.805 10.652 117.573 10.15 116.569 9.144C115.563 8.139 115.061 6.9 115.061 5.426C115.061 3.953 115.563 2.714 116.569 1.708C117.574 0.703 118.805 0.2 120.261 0.2C121.717 0.2 122.947 0.703 123.952 1.708C124.957 2.714 125.46 3.953 125.46 5.426C125.46 6.899 124.957 8.139 123.952 9.144ZM115.841 41.436V12.419H124.733V41.435H115.841V41.436Z"
      ></path>
      <path
        class="fill-white"
        d="M125.721 12.419H135.185L141.789 34L148.393 12.419H157.857L147.561 41.435H136.017L125.721 12.419Z"
      ></path>
      <path
        class="fill-white"
        d="M166.956 9.144C165.95 10.15 164.721 10.652 163.265 10.652C161.809 10.652 160.577 10.15 159.573 9.144C158.567 8.139 158.065 6.9 158.065 5.426C158.065 3.953 158.567 2.714 159.573 1.708C160.578 0.703 161.809 0.2 163.265 0.2C164.721 0.2 165.951 0.703 166.956 1.708C167.961 2.714 168.464 3.953 168.464 5.426C168.464 6.899 167.961 8.139 166.956 9.144ZM158.845 41.436V12.419H167.737V41.435H158.845V41.436Z"
      ></path>
      <path
        class="fill-white"
        d="M174.132 37.641C171.566 34.868 170.283 31.315 170.283 26.981C170.283 22.647 171.565 19.085 174.132 16.294C176.696 13.504 179.825 12.108 183.518 12.108C187.211 12.108 190.044 13.478 192.02 16.216V2.956H200.913V41.436H192.02V37.225C189.871 40.276 186.994 41.801 183.388 41.801C179.782 41.801 176.696 40.414 174.132 37.641ZM190.096 32.232C191.378 30.984 192.02 29.214 192.02 26.927C192.02 24.64 191.378 22.88 190.096 21.649C188.813 20.419 187.34 19.803 185.676 19.803C184.012 19.803 182.538 20.427 181.256 21.675C179.973 22.924 179.332 24.691 179.332 26.98C179.332 29.267 179.973 31.027 181.256 32.257C182.538 33.487 184.012 34.103 185.676 34.103C187.34 34.103 188.813 33.48 190.096 32.232Z"
      ></path>
      <path
        class="fill-white"
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M17.1 21.184L15.1 34.185L27.1 15.185H21.1L27.463 5.184H37.1L25.1 41.184H13.1L0.100006 5.184H13.1L11.1 21.184H17.1V21.184Z"
      ></path>
    </svg>
  </a>
</div>
<!-- Logo / End -->
