<!-- Mobile Menu -->
<div
  class="js-mobile-menu p-t-[64px] fixed left-0 top-[64px] z-50 block h-[calc(100dvh-64px)] w-full translate-x-full overflow-auto bg-white dark:bg-gray-800 py-5 text-primary dark:text-white transition-transform duration-300 lg:hidden"
>
  <div class="container">
    {{> _yt1-header-nav-mobile items=yt1.header.nav}}
  </div>
</div>
<!-- Mobile Menu / End -->
