<!-- Header Controls -->
<div class="flex">

  {{> _yt1-header-switcher }}

  {{> _yt1-header-account }}

  {{> _yt1-header-cart }}

  {{> _yt1-header-menu-toggle }}

</div>
<!-- Header Controls / End -->
