<!-- Header Controls -->
<div class="flex ml-auto items-center lg:-mr-3">

  {{> _yt2-header-social
    items=yt2.header.social
    class="mr-6 hidden flex-wrap gap-5 lg:flex"
  }}

  {{> _yt2-header-switcher }}

  {{> _yt2-header-cart }}

  {{> _yt2-header-account }}

  {{> _yt2-header-menu-toggle }}

</div>
<!-- Header Controls / End -->
