{{! Widget: Subscription }}
<div class="pt-1">
  {{#> _str1-btn variant="twitch" size="md" class="w-full" }}
    <svg class="h-[14px] w-[14px]" fill="currentColor">
      <use xlink:href="{{root}}assets/img/social-icons.svg#twitch"></use>
    </svg>
    Subscribe to my channel!
  {{/_str1-btn}}

  <div class="mt-6 text-sm">
    Support me by subscribing! You’ll get an awesome sub badge, custom emotes
    and access to the private discord!
  </div>
</div>
{{! Widget: Subscription / End }}
