<!-- Widget: Info -->
<div>
  <!-- Logo Footer -->
  <h5 class="mb-5 mt-[4px] font-bold leading-none">
    <img
      class="mb-[0.875rem]"
      src="assets/img/yt1/youtube-logo.png"
      alt="YouTube Logo"
    />
    <span
      class="block text-1.5xl leading-[0.8em] tracking-tighter text-primary dark:text-white"
    >Jack Parker’s</span>
    <span class="block text-[34px] tracking-[-0.07em] text-accent">UNBX VLOGS</span>
  </h5>
  <!-- Logo Footer / End -->
  <p class="mb-11 text-sm leading-6 tracking-tightest">Bringing you the best
    unboxing videos of the latest technology, games and toys!
  </p>
  <ul class="flex flex-wrap gap-8">
    {{#each yt1.social}}
      <li>
        <a
          class="text-primary transition-colors hover:text-accent dark:text-white dark:hover:text-accent"
          href="{{url}}"
          title="{{label}}"
        >
          <svg class="h-4 w-4" fill="currentColor">
            <use
              xlink:href="{{root}}assets/img/social-icons.svg#{{icon}}"
            ></use>
          </svg>
        </a>
      </li>
    {{/each}}
  </ul>
</div>
<!-- Widget: Info / End -->
