<!-- Widget: About Channel -->
<div>
  <h4
    class="mb-6 pt-[2px] font-heading text-lg font-bold leading-none text-primary dark:text-white md:mb-16"
  >About Channel</h4>
  <p class="text-sm leading-6 tracking-tightest">
    Bringing you the best unboxing videos of the latest technology, games and
    toys! Subscribe to the channel to not miss a thing!
  </p>

</div>
<!-- Widget: About Channel / End -->
