{{! Header CTA Button }}
<a
  class="relative mr-4 hidden h-10 items-center overflow-hidden bg-gradient-to-r from-[#9246ff] to-[#ff46aa] pl-10 text-sm font-bold uppercase tracking-tight transition-all hover:hue-rotate-30 xl:inline-flex min-[1350px]:pr-5"
  href="#"
>
  <svg
    class="absolute -left-2.5 top-[3px] block h-[46px] w-10"
    viewBox="0 0 40 46"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M8.5 1.10001H37.1V22.1L25.286 33.1H5.09998L8.5 1.10001Z"
      fill="white"
    ></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M25.002 37.786H18.333L9.99601 45.1V37.786H-0.00799561V8.214L8.32901 0H40.008V22.1L25.002 37.786ZM36.1 2.1H9.10001V27.1H16.1V33.1L22.1 27.1H29.1L36.1 20.1V2.1ZM27.993 9.004H30.986V18.985H27.993V9.004ZM19.009 9.004H22V18.985H19.009V9.004Z"
      fill="black"
    ></path>
  </svg>
  <span class="hidden min-[1350px]:block">Subscribe!</span>
</a>
{{! Header CTA Button / End }}
