{{! Mobile Menu Toggle }}
<button
  class="js-menu-toggle -mr-2 inline-flex py-4 px-2 sm:px-3 lg:hidden xl:px-4"
>
  <svg
    role="img"
    class="js-menu-toggle-icon-open h-6 w-6 fill-primary dark:fill-white"
  >
    <use xlink:href="{{root}}assets/img/yt2/sprite.svg#menu"></use>
  </svg>
  <svg
    role="img"
    class="js-menu-toggle-icon-close hidden h-6 w-6 fill-primary dark:fill-white"
  >
    <use xlink:href="{{root}}assets/img/yt2/sprite.svg#menu-close"></use>
  </svg>
</button>
{{! Mobile Menu Toggle / End }}
