<form class="grid grid-cols-12 gap-x-5 md:gap-x-6 lg:gap-x-7.5 gap-y-7.5" action="#">
  <div class="col-span-full md:col-span-6">
    {{> _str2-form-input
      type="text"
      name="name"
      id="name"
      label="Name"
    }}
  </div>
  <div class="col-span-full md:col-span-6">
    {{> _str2-form-input
      type="email"
      name="email"
      id="email"
      label="Email"
    }}
  </div>
  <div class="col-span-full">
    {{> _str2-form-textarea
      textarea-class="h-32 md:h-40"
      name="comment"
      id="comment"
      label="Your Message"
    }}
  </div>
  <div class="col-span-full pt-2">
    {{#> _str2-btn
      is-btn="true"
      variant="primary"
      size="md"
      type="submit"
      class="w-full"
    }}
      Send Message
    {{/_str2-btn}}
  </div>
</form>
