{{! Countdown }}
<div class="mx-auto max-w-[1360px] px-5 pb-20 md:pb-24 lg:pb-[150px]">

  <div
    class="relative min-h-[220px] bg-[url('../../../assets/img/str1/countdown-bg.jpg')] bg-cover bg-no-repeat"
  >

    <div class="container relative z-10 text-white">
      <div
        class="grid grid-cols-12 gap-x-5 gap-y-8 py-7 px-2 md:gap-x-6 lg:gap-y-12 lg:gap-x-7.5 lg:py-11 lg:px-0"
      >

        <div class="col-span-full md:col-span-5 md:col-start-3 xl:-ml-7.5">
          <div class="text-lg font-bold">Next Stream</div>
          <h3
            class="mb-3 text-2xl font-bold leading-none md:text-2.5xl lg:mb-4 lg:text-4xl xl:text-[42px]"
          >Let’s Play: Witch Hunters</h3>
          <div class="text-base font-medium leading-normal">
            I’ll be playing the new DLC for Witch Hunters story mode. I’ll be
            with guest streamer Game-Huntress. See you there!
          </div>
        </div>

        <div
          class="col-span-full flex flex-wrap items-center justify-center gap-y-4 self-center md:col-span-4 md:col-start-9 lg:gap-y-0"
        >

          {{! Countdown Block }}
          <div
            class="js-vv-countdown-container mb-4 grid w-full basis-full grid-cols-4 font-bold lg:mb-5 xl:pt-2.5 [&>div]:before:absolute [&>div]:before:-left-0.5 [&>div]:before:top-0 [&>div]:before:text-xl [&>div]:before:content-[':'] [&>div]:md:before:text-3xl [&>div]:lg:before:-left-1 [&>div]:xl:before:text-[42px] [&>div]:xl:before:leading-none [&>div:first-child]:before:hidden"
          >

            <div class="relative flex flex-col items-center">
              <div
                class="js-vv-days text-xl md:text-3xl xl:mb-1 xl:text-[42px] xl:leading-none"
              >00</div>
              <div class="days-label leading-none">Days</div>
            </div>

            <div class="relative flex flex-col items-center">
              <div
                class="js-vv-hours text-xl md:text-3xl xl:mb-1 xl:text-[42px] xl:leading-none"
              >00</div>
              <div class="hours-label leading-none">Hours</div>
            </div>

            <div class="relative flex flex-col items-center">
              <div
                class="js-vv-minutes text-xl md:text-3xl xl:mb-1 xl:text-[42px] xl:leading-none"
              >00</div>
              <div class="minutes-label leading-none">Mins</div>
            </div>

            <div class="relative flex flex-col items-center">
              <div
                class="js-vv-seconds text-xl md:text-3xl xl:mb-1 xl:text-[42px] xl:leading-none"
              >00</div>
              <div class="seconds-label leading-none">Secs</div>
            </div>

          </div>
          {{! Countdown Block / End }}

          {{! Countdown Progress Bar }}
          <div
            class="js-vv-countdown-progress h-2 basis-full overflow-hidden rounded-full bg-gray-900"
          >
            <div
              class="js-vv-countdown-progress-bar h-full rounded-full bg-accent"
            >test</div>
          </div>
          {{! Countdown Progress Bar / End }}

        </div>

      </div>
    </div>

    {{! Duotone Layers }}
    <div class="absolute inset-0 z-[1] bg-black mix-blend-color"></div>
    <div class="absolute inset-0 z-[2] bg-primary mix-blend-multiply"></div>
    <div class="absolute inset-0 z-[3] bg-gray-900 mix-blend-screen"></div>
    {{! Duotone Layers / End }}

    {{! Hero Image }}
    <img
      class="pointer-events-none absolute -left-8 bottom-0 z-[4] hidden md:block"
      src="{{root}}assets/img/str1/countdown-hero.png"
      alt=""
    />
    {{! Hero Image / End }}
  </div>

</div>
{{! Countdown / End }}
