{{! Sponsors }}
<section class="py-12 lg:py-16 lg:pb-[70px]">
  <div class="mx-auto max-w-[1360px] px-5">
    <div class="grid grid-cols-12 gap-x-5 gap-y-6 md:gap-x-6 lg:gap-x-7.5">
      {{#each str1.sponsors}}
        <div class="col-span-6 sm:col-span-4 lg:col-span-2 xl:col-span-2">
          <a href="{{link.url}}" class="group">
            <img
              class="mx-auto opacity-20 transition-opacity group-hover:opacity-100"
              src="{{root}}{{img.md}}"
              alt="{{label}}"
            />
          </a>
        </div>
      {{/each}}
    </div>
  </div>
</section>
{{! Sponsors / End }}
