{{! Latest Blog Posts }}
<section class="pb-20 pt-4 md:pb-24 lg:pb-[130px] lg:pt-6">
  <div class="container">

    <div class="grid grid-cols-12 gap-x-5 gap-y-12 md:gap-x-6 lg:gap-x-7.5">

      <div
        class="col-span-full grid grid-cols-7 gap-x-5 sm:grid-rows-[197px_107px_85px] md:col-span-7 md:grid-rows-[152px_83px_66px] md:gap-x-6 lg:grid-rows-[197px_107px_85px] lg:gap-x-7.5 xl:grid-rows-[246px_134px_106px]"
      >
        {{! Image 1 }}
        <figure class="col-span-full sm:row-start-1 sm:row-end-3">
          <img
            class="w-full sm:w-auto"
            src="{{root}}assets/img/str1/samples/about-1-668x380.jpg"
            alt=""
          />
        </figure>
        {{! Image 1 / End }}

        {{! Image 2 }}
        <figure
          class="relative col-span-full sm:col-span-5 sm:col-start-3 sm:row-start-2 sm:row-end-4 sm:pl-3 sm:pr-10"
        >
          <img
            class="w-full sm:w-auto sm:shadow-[0_0_60px_0_rgba(0,0,0,.4)]"
            src="{{root}}assets/img/str1/samples/about-2-420x240.jpg"
            alt=""
          />

          {{! Twitch Badge }}
          <div
            class="bg-social-twitch absolute -left-8 top-1/2 hidden aspect-square w-20 -translate-y-2/3 items-center justify-center rounded-full text-white shadow-[0_0_60px_0_rgba(0,0,0,.4)] before:absolute before:-left-1 before:bottom-0 before:h-0 before:w-0 before:rotate-[52deg] before:border-l-[12px] before:border-r-[12px] before:border-t-[20px] before:border-l-transparent before:border-r-transparent before:border-t-primary sm:flex"
          >
            <svg class="aspect-square w-10" fill="currentColor">
              <use
                xlink:href="{{root}}assets/img/social-icons.svg#twitch"
              ></use>
            </svg>
          </div>
          {{! Twitch Badge / End }}
        </figure>
        {{! Image 2 / End }}
      </div>

      <div class="col-span-full md:col-span-5">
        {{! Title }}
        <div class="md:-ml-[76px] lg:-ml-[100px] xl:-ml-[130px]">
          <h2
            class="mb-8 text-2xl font-bold tracking-tighter text-gray-900 dark:text-white sm:mb-9 sm:text-3xl md:-mt-[0.6em] md:mb-10 md:text-4xl md:leading-none lg:-mt-[0.6em] lg:mb-12 lg:text-5xl lg:leading-none xl:-mt-[0.7em] xl:mb-14 xl:text-[62px] xl:leading-none"
          >
            <span class="inline-block md:block">Reliving the Magic of</span>
            <span class="inline-block md:block xl:-mt-2">
              <span class="text-accent">Retro</span>
              &amp;
              <span class="text-accent">Arcade Games</span></span>
          </h2>
        </div>
        {{! Title / End }}

        {{! Description }}
        <div class="md:pl-4 md:pr-2 lg:px-7 xl:pr-[70px] xl:pl-10 [&_p]:mb-8">
          <p>Twitch is a live streaming video platform owned by Twitch
            Interactive, a subsidiary of Amazon. Introduced in June 2011 as a
            spin-off.</p>

          <p>The site primarily focuses on video game live streaming, including
            broadcasts of eSports competitions, in addition to music broadcasts,
            creative content, and more recently, "in real life" streams. Content
            on the site can be viewed either live or via video on demand.</p>
        </div>
        {{! Description / End }}
      </div>

    </div>

  </div>
</section>
{{! Latest Blog Posts / End }}
