{{! Next Events }}
<div class="pb-20 md:pb-24 lg:pb-[120px]">
  <div class="container">
    {{> _str1-section-heading title="Next Events" }}

    {{> _str1-event-list events=str1.events.next limit=4}}
  </div>
</div>
{{! Next Events / End }}
