{{! Section: Latest News }}
<section class="py-14 md:py-32 lg:py-44 xl:py-48">
  <div class="container">

    {{> _yt1-section-heading title="Latest News" subtitle="Unbox vlogs" ctaTxt="Browse all posts" ctaUrl="_yt1-blog-grid.html" }}

    {{> _yt1-post-grid posts=(limit yt1.blog.feed 3) }}

  </div>
</section>
{{! Section: Latest News / End }}
