<div class="mx-auto max-w-[1500px] px-5">
  {{! Banners }}
  <div class="grid grid-cols-12 gap-5">
    <div class="col-span-full md:col-span-6">

      {{! Banner: Best Games }}
      <div
        class="relative isolate flex aspect-[72/31] sm:aspect-[72/28] lg:aspect-[72/30] xl:aspect-[72/26] w-full items-center overflow-hidden bg-[#953fff]"
      >
        <div class="flex flex-col gap-y-3 sm:gap-y-4 md:gap-y-5 lg:gap-y-7 xl:gap-y-9 items-start w-2/3 pl-5 sm:pl-7 leading-tight lg:pl-8 lg:pb-3 xl:pl-12 xl:pb-2">
          <h4
            class="text-xl font-bold leading-none tracking-tight text-white sm:text-3xl md:text-2xl md:leading-none lg:text-3xl xl:text-[38px]"
          >2023 Best Games Unboxings Playlist</h4>
          {{#> _yt2-btn
            variant="outline-white"
            size="md"
          }}
            Watch the Playlist
          {{/_yt2-btn}}
        </div>

        <img
          class="absolute right-0 top-0 -z-10 block h-full max-w-[50%] lg:max-w-[45%] object-cover object-right"
          src="{{root}}assets/img/yt2/samples/promo-1.png"
          alt=""
        />
      </div>
      {{! Banner: Best Games / End }}

    </div>

    <div class="col-span-full md:col-span-6">

      {{! Banner: Tech }}
      <div
        class="relative isolate flex aspect-[72/31] sm:aspect-[72/28] lg:aspect-[72/30] xl:aspect-[72/26] w-full items-center overflow-hidden bg-secondary"
      >
        <div class="flex flex-col gap-y-3 sm:gap-y-4 md:gap-y-5 lg:gap-y-7 xl:gap-y-9 items-start w-2/3 pl-5 sm:pl-7 leading-tight lg:pl-8 lg:pb-3 xl:pl-12 xl:pb-2">
          <h4
            class="text-xl font-bold leading-none tracking-tight text-primary sm:text-3xl md:text-2xl md:leading-none lg:text-3xl xl:text-[38px]"
          >New Smartphones Unboxing Playlist</h4>
          {{#> _yt2-btn
            variant="outline-primary"
            size="md"
          }}
            Watch the Playlist
          {{/_yt2-btn}}
        </div>

        <img
          class="absolute right-0 top-0 -z-10 block h-full max-w-[45%] object-cover object-right"
          src="{{root}}assets/img/yt2/samples/promo-2.png"
          alt=""
        />
      </div>
      {{! Banner: Tech / End }}

    </div>
  </div>
  {{! Banners / End }}
</div>
