{{! Filter }}
<div class="relative -mt-20 mb-14 flex flex-col md:flex-row md:justify-between lg:-mt-[200px] lg:mb-40 {{filter-class}}">

  {{> @partial-block }}

  {{! Background Layer }}
  <div class="absolute inset-0 -left-full bg-white dark:bg-gray-800 shadow-3xl"></div>
  {{! Background Layer / End }}
</div>
{{! Filter / End }}
