{{! Filter Categories }}
<ul class="relative z-10 items-start md:items-stretch flex flex-col py-4 md:py-0 md:flex-row md:gap-x-6 lg:gap-x-12 xl:gap-x-14 md:min-h-[100px] lg:min-h-[120px]">
  {{#each cats}}
    <li class="flex {{#if is-active}}after:absolute after:h-1 md:after:bottom-0 after:bottom-1 after:bg-accent after:inset-x-0 relative{{/if}}">
      <a
        class="flex items-center py-2 font-bold transition-all hover:text-primary dark:hover:text-white hover:opacity-100 text-sm lg:text-base {{#if is-active}}opacity-100 text-primary lg:text-primary dark:text-white dark:lg:text-white {{else}}opacity-40 dark:text-white/90{{/if}}"
        href="#"
      >
        {{label}}
      </a>
    </li>
  {{/each}}
</ul>
{{! Filter Categories / End }}
