<header
  class="col-span-full mb-4 flex flex-col items-center gap-y-6 md:col-start-3 md:col-end-11 md:mb-6"
>
  <a
    class="bg-accent px-3 py-1 text-xs font-bold uppercase leading-snug text-white transition-colors hover:bg-accent/90 md:text-sm"
    href="#"
  >
    Unboxings
  </a>
  <h1
    class="pb-1 text-center text-2xl font-bold leading-tight tracking-tighter text-primary dark:text-white md:text-3xl lg:px-8 lg:text-5xl lg:leading-none"
  >
    Here’s the X-mas Gamer Box from Powerstation and it packs some surpirses
  </h1>

  {{> _yt1-post-meta }}

</header>
