<ul class="flex gap-4 md:gap-7 flex-wrap w-full">
  <li class="flex-1">
    {{> _yt1-btn-share-2 icon="facebook" title="Facebook" class="bg-social-facebook hover:bg-social-facebook/90"}}
  </li>
  <li class="flex-1">
    {{> _yt1-btn-share-2 icon="twitter" title="Twitter" class="bg-social-twitter hover:bg-social-twitter/90"}}
  </li>
  <li class="flex-1">
    {{> _yt1-btn-share-2 icon="envelope-fill" title="Share" class="bg-primary hover:bg-primary/90"}}
  </li>
</ul>
