<ul
  class="mb-4 flex flex-wrap justify-center divide-x divide-accent pt-1 text-xs leading-none tracking-tight md:mb-7 md:text-base"
>
  <li class="px-2 leading-none first:pl-0">December 21st, 2022</li>
  <li class="px-2 leading-none">Jack Master</li>
  <li class="px-2 leading-none last:pr-0">3 Comments</li>
</ul>
