<header
  class="col-span-full mb-5 flex flex-col items-start gap-y-6 pt-16 lg:pt-20 md:col-start-3 md:col-end-11 md:mb-14"
>
  <a
    class="bg-accent px-3 py-1 text-xs font-bold uppercase leading-snug text-white transition-colors hover:bg-accent/90 md:text-sm"
    href="#"
  >
    Previews
  </a>
  <h1
    class="pb-1 text-2xl font-bold leading-tight tracking-tighter text-primary dark:text-white md:text-3xl lg:pr-20 lg:text-5xl lg:leading-none"
  >
    Next month I’ll be unboxing the exclusive “Last of Them II” deluxe version
  </h1>

  {{> _yt1-post-meta }}

</header>
