<figure class="col-span-full mb-8 md:col-start-2 md:col-end-12 md:mb-14">
  <a class="group relative block h-full overflow-hidden bg-gray-900" href="#">
    <img
      class="aspect-video w-full object-cover transition-all duration-300 group-hover:scale-110 group-hover:opacity-75"
      src="{{root}}assets/img/yt1/samples/post-img-1.jpg"
      alt=""
    />
    <span
      class="absolute top-1/2 left-1/2 flex aspect-square h-20 w-20 -translate-x-2/4 -translate-y-2/4 items-center justify-center rounded-full bg-accent"
    >
      <svg role="img" class="mr-[-3px] h-[27px] w-[22px] fill-white">
        <use xlink:href="{{root}}assets/img/yt1/sprite.svg#play"></use>
      </svg>
    </span>
  </a>
</figure>
