<label
  class="block text-sm font-bold uppercase tracking-tight text-gray-900 dark:text-white [&:not(:empty)]:mb-2.5"
  for="{{name}}"
>{{label}}
  {{#ifequal required "true"}}
    <span class="text-primary">*</span>
  {{/ifequal}}
</label>
