{{! Nav }}
<nav
  class="mb-7 border-b border-gray-50 pb-6 dark:border-gray-600 sm:mb-8 sm:pb-7 md:mb-10 md:pb-8 lg:mb-12 lg:pb-10 xl:mb-14 xl:pb-12"
>
  <ul
    class="flex flex-col flex-wrap gap-y-4 gap-x-6 xl:gap-x-10 font-bold uppercase tracking-tighter sm:flex-row sm:justify-center md:text-lg"
  >
    {{#each nav}}
      <li>
        <a
          class="transition-all {{#ifpage url}} text-primary {{/ifpage}} {{#unlesspage url}} text-gray-900 hover:text-primary dark:text-white dark:hover:text-primary {{/unlesspage}}"
          href="{{url}}.html"
        >{{title}}</a>
      </li>
    {{/each}}
  </ul>
</nav>
{{! Nav / End }}
