{{! Panel }}
<div class="col-span-full md:col-span-8">
  <h2
    class="mb-8 text-2xl font-bold tracking-tight text-primary dark:text-white md:text-2xl lg:mb-16 lg:text-3.5xl"
  >{{panel-title}} <span class="text-accent">{{panel-count}}</span></h2>
  <div>
    {{{@partial-block}}}
  </div>
</div>
{{! Panel / End }}
