{{! Account }}
<div class="grid grid-cols-12 gap-y-12 md:gap-x-6 lg:gap-x-7.5 content-start">

  {{> _yt1-account-nav }}

  {{#> _yt1-account-panel panel-title=panel-title panel-count=panel-count}}
    {{{@partial-block}}}
  {{/_yt1-account-panel}}

</div>
{{! Account / End }}
