{{! Nav }}
<aside class="col-span-full md:col-span-4">
  <div class="sticky lg:top-8 xl:top-10">
    <div class="mb-10">
      <h2
        class="mb-1 text-2xl font-bold tracking-tight text-primary dark:text-white md:mb-2 md:text-2xl lg:text-3.5xl"
      >James Spiegel</h2>
      <h3
        class="text-lg font-bold leading-tight tracking-tight text-accent lg:text-xl xl:text-[26px]"
      >Welcome!</h3>
    </div>
    <nav class="py-1">
      <ul
        class="flex flex-col gap-y-4 font-bold leading-tight lg:gap-y-6 lg:text-lg"
      >
        {{#each yt1.account}}
          <li class="{{#if @last }} mt-5 {{/if}}">
            <a
              class="text-lg transition-all {{#ifpage url}} text-primary opacity-100 hover:text-accent dark:text-white dark:hover:text-accent {{/ifpage}} {{#unlesspage url}} opacity-60 hover:opacity-100 hover:text-primary dark:hover:text-white {{/unlesspage}}"
              href="{{url}}.html"
            >{{title}}</a>
          </li>
        {{/each}}
      </ul>
    </nav>
  </div>
</aside>
{{! Nav / End }}
